@import url(https://fonts.googleapis.com/css?family=Poiret+One);

 h1 {
 	color: grey;
	background-color: purple;
	text-align:center; font-size: 40px; 
	font-style: italic; font-family: 'Poiret One', cursive;
	border: 1px black solid;
    padding: 20px;
	
} 
 h2 {
 	background-color: purple;
 	text-align: center;
 	font-size: 30px
 }
 h3{
 	background-color: silver;
 	margin: 2em;
 	padding: 20px;
 }

body {
	background-color: grey;
	font-size: 15px;
	text-align: center; font-style: italic;
	font-family: 'Fantasy, Fantasy, sans-serif;
	line-height:1.5em;
	margin:2em;
	border: 1px black solid;
  
}
footer {

}



